.Chat-main
  .group-info
    .group-info__header-left
      .group-info__group-name
      .group-info__member-list
        Member : masa
    =link_to '#', class: "group-info__header-right" do
        = @group.name 
      .group-info__member-block
        .group-info__member-list
          Member: 
      Edit
  .message-list
    = render @messages

  .chat-footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: "form__input-content", placeholder: 'type a message'
        = f.label :image, class: "form__input-image" do
          = icon("fa","image",class: "form__icon")
      = f.submit 'Send', class: "form__submit"
      